<h1 style="text-align: center; color:green;">Nuestros vampiros felices</h1>
<div class="clientes row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{imagen[0]}}" alt="Card image cap">
        <div class="card-body">
            <h4>Nombre</h4>
          <p class="card-text">{{nombre[0]}}</p>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{imagen[1]}}" alt="Card image cap">
            <div class="card-body">
                <h4>Nombre</h4>
            <p class="card-text">{{nombre[1]}}</p>
        </div>    
    </div>
</div><br>

