<body>
    
    <div class="texto d-flex justify-content-end">
        <div class="imgvacuna">
            <img src="./assets/img/vacuna.png" alt="">
            <p>
                ¿Porque no vacunarte? ¿Le tienes miedo a las agujas?<br>
                Cuidamos de ti y de tu familia monstruosa, colocate <br>
                al dia con las vacunas, y recibiras el privilegio de <br>
                asustar a quien desees.
            </p>
        </div>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Ingresa tu nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Apellido</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Ingresa tu apellido">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Pais</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Ingresa tu pais">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Ciudad</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Ingresa tu ciudad">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Direccion</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Genero</label>
                <select id="inputState" class="form-control">
                  <option selected>Masculino</option>
                  <option>Femenino</option>
                  <option>Nose tu dime</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Edad</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  <a class="terminos" href="">Aceptas terminos y condiciones</a>
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Agendar cita</button><br><br>
            <p>Esperamos verte pronto, tu cita sera asignada aproximadamente <br>
                para un termino de 10 años.<br>
                Lo se, la espera es poca para los años monstruo.
            </p>
          </form>
    </div>
</body>
